<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="\public\reset.css">
    <link rel="stylesheet" href="\public\indexstyle.css"> 
    <link rel="stylesheet" href="\public\mainstyle.css">  

    <title>teaching web</title>
</head>

    <header class="floating" style="width : 100%; height: 6%; background-color: rgb(39, 39, 226);">
        <h1 style=" color: white; font-size: 1.9rem;">&nbsp <a href="http://localhost:7070/main">Teaching Web</a> 게시판</h1> 
        <h2 style=" margin-left: 60%; color: white; font-size: 1.2rem;"><%= 사용자.nick %>님 어서오세요.</h2>       
      </header> 
      
<body>


<div class="contents">
    <div class="servecon">
        <div class="maintext1" style="margin: 10%;">목차</div>

        <div class="btn-group2" style="width: 100%; height: 90%;">
            <button data-id="미적분" class="list" style="width: 100%; cursor:pointer; padding: 3%;"> 미 적 분</button>
            <button data-id="확률과 통계" class="list" style="width: 100%; cursor:pointer; padding: 3%;" > 확률과 통계</button>
            <button data-id="기하와 벡터" class="list" style="width: 100%; cursor:pointer; padding: 3%;" > 기하와 백터</button>
            <button data-id="수학1" class="list" style="width: 100%; cursor:pointer; padding: 3%;"> 수 학 1</button>
            <button data-id='수학2' class="list" style="width: 100%; cursor:pointer; padding: 3%;" > 수 학 2</button>
            <button data-id='방정식' class="list" style="width: 100%; cursor:pointer; padding: 3%;"> 방 정 식</button>
            <button data-id='기타 연산' class="list" style="width: 100%; cursor:pointer; padding: 3%;" > 기 타 연 산</button>
        </div>

    </div>

    <div style="background-color:rgb(255, 255, 255); float: left; height: 100%; width: 4%;"></div>

    <div class="maincon">
        <div class="maintext1" id="listtag" >전체 목록 
            <a style="background-color: rgb(107, 154, 183); text-align: right;" href="/write">>글쓰기</a>
            <a style="background-color: rgb(107, 154, 183); text-align: right;" href="/userpage/<%=사용자.userid%>">>마이페이지</a>
          </div>

        <ul class="list-group" style="padding: 3%;">
           
            <% for (var i = 0; i < posts.length; i++){ %>
            <li class="list-group-item" style="border: 1px solid;">
                <h5 class="servetext2" style=" text-align: right; float: right; padding-right: 2%;">상태: <%= posts[i].글상태 %></h5>
              <h4 class="servetext1"> <a style="color: black; width: 50%; " href="/board/<%=posts[i]._id %>" >
                제목 : <%= posts[i].제목 %></a> 
            </h4>
            
              <p class="servetext1"> 작성자 : <%= posts[i].작성자%> </p>
              
            </li>
            <% } %>
          </ul>
    </div>

</div>

</body>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
 /* $('.list').click(function(){
      
    $.ajax({
      method : 'post',
      url : '/list',
      data : { 카테고리 : event.target.dataset.id }
    }).done(function(결과){
       location.href("/list"); 
    })
    
  });
*/

</script>

<script>
    
        $('.list').click(function(){
          var id=event.target.dataset.id;   
          console.log(event.target.dataset.id);
          console.log(id);
            location.replace("/list/"+id);   
        });

</script>
</html>